body {
    background-color: white;
}

img {
    max-width: 850px;
    max-height: 450px;
}

.space {
    width: 850px;
    height: 450px;
}

.inlineElements {
    display: flex;
    background-color: lightgray;
    max-width: 850px;
    max-height: 450px;

}

article {
    margin: 20px;
    width: 270px;
    height: 324px;
}

article > h1 {
    text-transform: capitalize;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    margin-top: 15px;
}

.messagebox {
    height: 90px;
}

.sendbutton {
    color: white;
    margin-top: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    border: solid;
    border-style: solid;
    border-color: gray;
    background-color: gray;
}